body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto sólido */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff; /* Texto padrão branco para contraste */
}

.container {
    background-color: #1a1a1a; /* Cinza escuro para o container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 0); /* Sombra vermelha para destacar */
    text-align: center;
    width: 300px;
    border: 1px solid #ffff00; /* Borda vermelha */
}

h1 {
    color: #ffff00; /* Título vermelho brilhante */
    font-size: 1.2em;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #fff; /* Labels brancas */
}

select, input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ff0000;
    background-color: #000;
    color: #fff;
    box-sizing: border-box; /* Garante que padding não aumente a largura total */
}

button {
    background-color: #ffff00;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #ffff00;
}

p#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 4px;
    word-wrap: break-word; /* Para garantir que o resultado caiba na caixa */
}

h6 {
    font-size: 0.7em;
    color: #aaa;
    margin-bottom: 15px;
}

