
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Fonte mais comum e limpa */
    background-color: black; /* Fundo escuro, quase preto */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff; /* Texto padrão branco */
}

.container {
    background-color: #2c2c2c; /* Fundo do container ligeiramente mais claro que o body */
    padding: 30px; /* Um pouco mais de padding para melhor visual */
    border-radius: 10px; /* Bordas mais suaves */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Sombra mais proeminente */
    width: 350px; /* Um pouco mais largo */
    text-align: center;
}

h1 {
    color: red; /* Vermelho vibrante, cor principal do site */
    font-size: 1.5em; /* Tamanho da fonte levemente aumentado */
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px; /* Mais espaço entre labels */
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #ccc; /* Cor de texto mais suave para labels */
}

select, input, button {
    width: 100%;
    padding: 12px; /* Padding um pouco maior para botões e inputs */
    margin-bottom: 15px;
    border-radius: 5px; /* Bordas suaves */
    border: 1px solid #444; /* Borda sutil nos campos */
    box-sizing: border-box;
    background-color: #3c3c3c; /* Fundo dos campos escuro */
    color: #fff; /* Texto dentro dos campos branco */
}

button {
    background-color: #e50000; /* Vermelho vibrante para o botão principal */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold; /* Botão mais destacado */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

button:hover {
    background-color: #ff3333; /* Vermelho mais claro no hover */
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #00ff00; /* Cor verde neon/clara para o resultado, contrastando bem */
    background-color: #3c3c3c;
    padding: 10px;
    border-radius: 4px;
}
