body {
    font-family: Arial, sans-serif;
    background-color: #000; /* Fundo preto sólido */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff; /* Texto padrão branco para contraste */
}

.container {
    background-color: #1a1a1a; /* Cinza escuro para o container */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3); /* Sombra vermelha para destacar */
    text-align: center;
    width: 300px;
    border: 1px solid #ff0000; /* Borda vermelha */
}

h1 {
    color: #ff0000; /* Título vermelho brilhante */
    font-size: 1.2em;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #fff; /* Labels brancas */
}

select, input, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #444; /* Borda dos campos cinza escuro */
    box-sizing: border-box;
    background-color: #333; /* Fundo dos campos cinza */
    color: #fff; /* Texto dos campos branco */
}

button {
    background-color: #ff0000; /* Botão vermelho brilhante */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease; /* Transição suave para o hover */
}

button:hover {
    background-color: #e60000; /* Vermelho um pouco mais escuro ao passar o mouse */
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: #ff4d4d; /* Resultado em um tom de vermelho mais claro */
}


